<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <span class="btn btn-success fileinput-button">
    <i class="icon-camera icon-white"></i>
    <%= f.file_field :photo %>
  </span>
  <span class="post_btn">
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  </span>
  
<% end %>
