<li id="<%= post.id %>">
  <div class="media">
    <%= link_to gravatar_for(post.user, { size: 48, class: "media-object gravatar" }),
                post.user, class: "pull-left" %>
    <div class="media-body">
      <h5 class="media-heading">
        <span class="user">
          <%= link_to post.user.name, post.user %>
        </span>
        <span class="timestamp">
          <%= time_ago_in_words(post.created_at) %>
        </span>
      </h5>
      <span class="content"><%= post.content %></span>
      <% unless post.photo.blank? %>
        <span><%= image_tag post.photo.url(:medium), class: "photo img-polaroid" %></span>
      <% end %>
      <ul class="inline">
        <li>
          <button class="comment-btn" data-toggle="collapse" data-target="#comment-<%= post.id %>">
            <i class="icon-comment"></i> Comment
          </button>
        </li>
        <li>
          <% if signed_in? %>
            <%= render 'posts/favorite_form', post: post %>
          <% end %>
        </li>
        <li>
          <% if current_user?(post.user) %>
            <%= render 'posts/delete_form', post: post %>
          <% end %>
        </li>
      </ul>
      <div id="comment-<%= post.id %>" class="collapse out">comment demo</div>
    </div>
  </div>
</li>

